
.stream, .grafics, .containerDades{
    margin-left: 1%;
    margin-top: 1%;
}

.gestio{
    margin-left: 1%;
    margin-top: 1%;
}

.placaimg{
    width: 30%;
    margin-left: 5%;
    margin-top: 4%;
    display: flex;
}

.titol{
    margin-left: 36%;
    margin-top: 2%;
}

.ledsSelector{
    display: flex;
    margin-left: 40%;
    margin-top: 3%;
}

.ledsSelector select{
    margin-left: 2%;
}

.titolInicial{
    margin-left: 33%;
    margin-top: 3%;
}

.content{
    display: flex;
}

.leds{
    margin-top: 35%;
}

.leftSite{
    margin-left: 2%;
}

.missatge{
    margin-top: 15%;
    font-size: 22px;
}

.missatge > i{
    font-size: 65px;
    padding-top: 3%;
}

.visDades{
    display: flex;
}

.dadesRebudes{
    background-color: rgb(238, 238, 238);
    width: 30%;
    height: auto;
}

.temperatura{
    font-size: 90px;
    margin-left: 3%;
    display: flex;
}

.wi.wi-thermometer{
    margin-top: 7%;
    margin-right: 7%;
   size: 70px;
}

.subtitol{
    margin-top: 2%;
    display: flex;
}

.subtitol > :last-child{
    margin-left: 28%;
}

.visDades.dades2{
    font-size: 20px;
    margin-left: 3%;
    margin-top: 2%;
}
.visDades.dades2 > :last-child{
    margin-left: 15%;
}

#map{
    margin-left: 5%;
}

.buzzer{
    display:grid;
    height: 200%;
    width: 20%;
    margin-left: 8%;
    margin-right: 5%;
}

.buzzer > select{
    margin-bottom: 10%;
}

.buzzer > :first-child{
    margin-top: 45%;
}

.wi.wi-day-sunny{
    font-size: 250px;
    margin-left: 20%;
    margin-top: 7%;
}

.situacioClimatica {
    display: flex;
}

.situacioClimatica > p{
    margin-left: 8%;
    font-size: 180px;
    padding-top: 4%;
}

#led {
    animation-name: colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 30px;
}


@keyframes colors {
    0% {
        color: red;
    }
    25% {
        color: cornflowerblue;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: purple;
    }
}