
.stream, .grafics{
    margin-left: 1%;
    margin-top: 1%;
}

.gestio{
    margin-left: 1%;
    margin-top: 1%;
}

.placaimg{
    width: 30%;
    margin-left: 9%;
    margin-top: 4%;
    display: flex;
}

.titol{
    margin-left: 43%;
    margin-top: 2%;
}

.ledsSelector{
    display: flex;
    margin-left: 43%;
    margin-top: 3%;
}

.ledsSelector select{
    margin-left: 2%;
}

.titolInicial{
    margin-left: 36%;
    margin-top: 3%;
}

.content{
    display: flex;
}

.leds{
    height: 3%;
    margin-top: 15%;
    margin-left: 18%;
}